# 実行時間制限チェックを実施するかどうか
CHECK_TIME_LIMIT=true
# 以下クラスごとの実行時間制限を指定する（指定しない場合は2000ms）
abc.abc001_050.abc005.ProblemDTest=5000
abc.abc001_050.abc008.ProblemDTest=4000
abc.abc001_050.abc012.ProblemDTest=5000
abc.abc001_050.abc013.ProblemDTest=4000
abc.abc001_050.abc014.ProblemCTest=3000
abc.abc001_050.abc017.ProblemCTest=6000
abc.abc001_050.abc017.ProblemDTest=3000
abc.abc001_050.abc023.ProblemDTest=5000
abc.abc001_050.abc025.ProblemDTest=5000
abc.abc001_050.abc033.ProblemDTest=7000
abc.abc001_050.abc035.ProblemDTest=3000
abc.abc001_050.abc041.ProblemDTest=3000
abc.abc001_050.abc045.ProblemDTest=3000
abc.abc051_100.abc074.ProblemCTest=3000
abc.abc051_100.abc084.ProblemCTest=3000
abc.abc051_100.abc091.ProblemDTest=3000
abc.abc101_150.abc106.ProblemDTest=3000
abc.abc101_150.abc106.ProblemD別回答Test=3000
abc.abc101_150.abc112.ProblemCTest=3000
abc.abc101_150.abc129.ProblemFTest=3000
abc.abc101_150.abc130.ProblemFTest=5000
abc.abc101_150.abc133.ProblemFTest=4000
abc.abc151_200.abc152.ProblemFTest=4000
abc.abc151_200.abc160.ProblemFTest=3000
abc.abc151_200.abc168.ProblemFTest=3000
abc.abc151_200.abc170.ProblemETest=3500
abc.abc151_200.abc170.ProblemFTest=3000
abc.abc151_200.abc172.ProblemDTest=3000
abc.abc151_200.abc173.ProblemCTest=1000
abc.abc151_200.abc175.ProblemDTest=3000
abc.abc151_200.abc175.ProblemETest=3000
abc.abc151_200.abc176.ProblemETest=3000
abc.abc151_200.abc182.ProblemETest=2500
abc.abc151_200.abc183.ProblemFTest=3000
abc.abc151_200.abc184.ProblemFTest=3000
abc.abc151_200.abc185.ProblemFTest=3000
abc.abc151_200.abc185.ProblemF別回答Test=3000
abc.abc151_200.abc187.ProblemFTest=3000
abc.abc151_200.abc189.ProblemCTest=1500
abc.abc151_200.abc190.ProblemETest=3000
abc.abc151_200.abc194.ProblemETest=4000
abc.abc151_200.abc196.ProblemFTest=3000
abc.abc151_200.abc196.ProblemF別回答Test=3000
abc.abc151_200.abc197.ProblemFTest=3000
abc.abc151_200.abc197.ProblemF別回答Test=3000
abc.abc151_200.abc198.ProblemDTest=5000
abc.abc201_250.abc201.ProblemETest=3000
abc.abc201_250.abc205.ProblemDTest=3000
abc.abc201_250.abc207.ProblemFTest=3000
abc.abc201_250.abc208.ProblemDTest=3000
abc.abc201_250.abc210.ProblemFTest=3000
abc.abc201_250.abc212.ProblemFTest=4000
abc.abc201_250.abc212.ProblemF別回答Test=4000
abc.abc201_250.abc213.ProblemFTest=3000
abc.abc201_250.abc213.ProblemGTest=3000
abc.abc201_250.abc213.ProblemHTest=5000
abc.abc201_250.abc214.ProblemETest=3000
abc.abc201_250.abc214.ProblemHTest=4000
abc.abc201_250.abc215.ProblemGTest=4000
abc.abc201_250.abc215.ProblemHTest=3000
abc.abc201_250.abc218.ProblemDTest=4000
abc.abc201_250.abc220.ProblemGTest=3000
abc.abc201_250.abc221.ProblemGTest=5000
abc.abc201_250.abc221.ProblemG別回答Test=5000
abc.abc201_250.abc222.ProblemFTest=4000
abc.abc201_250.abc222.ProblemF別回答Test=4000
abc.abc201_250.abc222.ProblemHTest=3000
abc.abc201_250.abc222.ProblemH別回答Test=3000
abc.abc201_250.abc222.ProblemH別回答2Test=3000
abc.abc201_250.abc223.ProblemFTest=3000
abc.abc201_250.abc223.ProblemF別回答Test=3000
abc.abc201_250.abc223.ProblemHTest=3000
abc.abc201_250.abc223.ProblemH別回答Test=3000
abc.abc201_250.abc224.ProblemDTest=4000
abc.abc201_250.abc227.ProblemFTest=3000
abc.abc201_250.abc228.ProblemDTest=4000
abc.abc201_250.abc228.ProblemGTest=4000
abc.abc201_250.abc230.ProblemGTest=5000
abc.abc201_250.abc230.ProblemHTest=8000
abc.abc201_250.abc230.ProblemH別回答Test=8000
abc.abc201_250.abc232.ProblemGTest=3000
abc.abc201_250.abc232.ProblemG別回答Test=3000
abc.abc201_250.abc233.ProblemExTest=7000
abc.abc201_250.abc233.ProblemEx別回答Test=7000
abc.abc201_250.abc234.ProblemExTest=4000
abc.abc201_250.abc235.ProblemCTest=3000
abc.abc201_250.abc235.ProblemETest=4000
abc.abc201_250.abc235.ProblemE別回答Test=4000
abc.abc201_250.abc235.ProblemGTest=3000
abc.abc201_250.abc235.ProblemExTest=3000

other.atc001.ProblemBTest=5000
other.atc001.ProblemCTest=5000
other.exawizards2019.ProblemFTest=4000
other.hhkb2020.ProblemFTest=3000
other.hhkb2020.ProblemF別回答Test=3000
other.joi2006ho.ProblemATest=1000
other.joi2006ho.ProblemBTest=3000
other.joi2006ho.ProblemCTest=1000
other.joi2006ho.ProblemDTest=10000
other.joi2006ho.ProblemETest=10000
other.joi2006yo.ProblemETest=10000
other.joi2007ho.ProblemATest=1000
other.joi2007ho.ProblemBTest=1000
other.joi2007ho.ProblemCTest=3000
other.joi2007ho.ProblemC別回答Test=3000
other.joi2007ho.ProblemETest=1000
other.joi2008yo.ProblemETest=10000
other.joisc2007.ProblemA_ScoreTest=5000
other.joisc2007.ProblemB_FactorialTest=500
other.joisc2007.ProblemC_MallTest=6000
other.joisc2007.ProblemD_BuildingTest=1000
other.joisc2007.ProblemE_FermatTest=500
other.joisc2007.ProblemG_AnagramTest=1000
other.joisc2007.ProblemH_RouteTest=3000
other.joisc2007.ProblemI_CircuitTest=3000
other.joisc2007.ProblemJ_FiberTest=1000
other.joisc2007.ProblemK_LinesTest=1000
other.past201912open.ProblemHTest=4000
other.past201912open.ProblemNTest=4000
other.math_and_algorithm.Problem001Test=1000
other.math_and_algorithm.Problem002Test=1000
other.math_and_algorithm.Problem003Test=1000
other.math_and_algorithm.Problem004Test=1000
other.math_and_algorithm.Problem005Test=1000
other.math_and_algorithm.Problem006Test=1000
other.math_and_algorithm.Problem007Test=1000
other.math_and_algorithm.Problem009Test=1000
other.math_and_algorithm.Problem012Test=1000
other.math_and_algorithm.Problem013Test=1000
other.math_and_algorithm.Problem015Test=1000
other.math_and_algorithm.Problem018Test=1000
other.math_and_algorithm.Problem019Test=1000
other.math_and_algorithm.Problem020Test=5000
other.math_and_algorithm.Problem021Test=1000
other.math_and_algorithm.Problem022Test=1000
other.math_and_algorithm.Problem023Test=1000
other.math_and_algorithm.Problem024Test=1000
other.math_and_algorithm.Problem027Test=1000
other.math_and_algorithm.Problem029Test=1000
other.math_and_algorithm.Problem032Test=1000
other.math_and_algorithm.Problem033Test=1000
other.math_and_algorithm.Problem034Test=1000
other.math_and_algorithm.Problem034別回答Test=1000
other.math_and_algorithm.Problem035Test=1000
other.math_and_algorithm.Problem037Test=1000
other.math_and_algorithm.Problem039Test=1000
other.math_and_algorithm.Problem040Test=3000
other.math_and_algorithm.Problem041Test=6000
other.math_and_algorithm.Problem042Test=3000
other.math_and_algorithm.Problem043Test=1000
other.math_and_algorithm.Problem043別回答Test=1000
other.math_and_algorithm.Problem044Test=1000
other.math_and_algorithm.Problem047Test=3000
other.math_and_algorithm.Problem049Test=10000
other.math_and_algorithm.Problem050Test=1000
other.math_and_algorithm.Problem051Test=1000
other.math_and_algorithm.Problem053Test=1000
other.math_and_algorithm.Problem054Test=1000
other.math_and_algorithm.Problem055Test=1000
other.math_and_algorithm.Problem056Test=1000
other.math_and_algorithm.Problem057Test=1000
other.math_and_algorithm.Problem061Test=1000
other.math_and_algorithm.Problem067Test=5000
other.math_and_algorithm.Problem068Test=1000
other.math_and_algorithm.Problem071Test=10000
other.math_and_algorithm.Problem073Test=1000
other.math_and_algorithm.Problem077Test=1000
other.math_and_algorithm.Problem085Test=5000
other.math_and_algorithm.Problem089Test=1000
other.math_and_algorithm.Problem100Test=3000
other.typical90.Problem004Test=5000
other.typical90.Problem005Test=5000
other.typical90.Problem007Test=3000
other.typical90.Problem009Test=3000
other.typical90.Problem023Test=8000
other.typical90.Problem027Test=1000
other.typical90.Problem029Test=4000
other.typical90.Problem031Test=3000
other.typical90.Problem032Test=5000
other.typical90.Problem033Test=1000
other.typical90.Problem055Test=5000
other.typical90.Problem059Test=3000
other.typical90.Problem059別回答Test=3000
other.typical90.Problem063Test=4000
other.typical90.Problem065Test=3000
other.typical90.Problem071Test=3000
other.typical90.Problem074Test=1000
other.typical90.Problem077Test=1500
other.typical90.Problem083Test=3000
other.typical90.Problem083別回答Test=3000
other.typical90.Problem089Test=3000
other.typical90.Problem090Test=7000
other.typical90.Problem090別回答1Test=7000
other.typical90.Problem090別回答2Test=7000
practice.practice2.ProblemATest=5000
practice.practice2.ProblemBTest=5000
practice.practice2.ProblemCTest=5000
practice.practice2.ProblemDTest=5000
practice.practice2.ProblemETest=5000
practice.practice2.ProblemFTest=5000
practice.practice2.ProblemGTest=5000
practice.practice2.ProblemHTest=5000
practice.practice2.ProblemITest=5000
practice.practice2.ProblemJTest=5000
practice.practice2.ProblemKTest=5000
practice.practice2.ProblemLTest=5000
